/*----MAIN----*/

main{
    text-align: center;
    font-size: 30px;
    margin: 20px;
    user-select: none;
}

main h2{
    color: darkblue;
}

.publicaciones {
    font-size: 50px;
    margin-top: 50px;
}

.listado {
    padding: 50px;
}

.form h2{
    margin: 30px;
}